body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
    display: flex;
    align-items: center;
    justify-content: center;
}

.App {
  width: 100%;
  display: flex;
  align-items: center;
}
.container{

  padding: 40px 20px;
  border-radius: 7px;
  width: 100%;
}
.article{
  background-color: #555;
  border-radius: 7px;
  padding: 29px 10px;
  margin: 22px 1px;
}
.button{
  background-color: #fff;
  font-size: 14px;
  padding: 6px 24px;
  border-radius: 2px;
  border: 2px solid #4CAF50;
  transition-duration: 0.4s;
}
.button:hover {
  background-color: #4CAF50; /* Green */
  color: white;
}
.button:focus {  
  border: 2px solid #4CAF50;   
  background-color: #4CAF50; /* Green */
  color: white;   
}
